Django==4.1.4
djangorestframework==3.14.0
Pillow==9.3.0
bit==0.8.0
requests
bitcoinaddress==0.1.5
gunicorn
python-jose
base58
kavenegar==1.1.2
django-cors-headers==3.13.0
django-simpleui==2022.12.18
django-tinymce==3.5.0
boto3==1.26.64
python-dotenv==0.21.1
rich==13.3.1
django-storages==1.13.2